* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(179.62deg, #14141E 48.88%, rgba(35, 34, 46, 0.3) 108.9%);
  background-color: #1E1E1E;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  transition: all 1s;
  background: linear-gradient(179.62deg, #14141E 48.88%, rgba(35, 34, 46, 0.3) 108.9%);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  transition: all 1s;
  background: linear-gradient(179.62deg, #14141E 48.88%, rgba(35, 34, 46, 0.3) 108.9%);
  border-radius: 999px;
}