*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #1A1924;
}



button {
  cursor: pointer;
}
::-webkit-scrollbar {
 
  width: 10px;
  background-color: #1A1924;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb{
  background-color: #282843;
  border-radius: 999px;
}
